<header>
  <img
    ngSrc="assets/img/emannuel-130x130.png"
    alt="Emannuel Morais - Foto de Perfil"
    width="130"
    height="130"
    loading="eager"
  />
<h1>Emannuel Morais</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Java | Spring Boot | Angular</p>
    <p>Fortaleza, Ceará, Brasil</p>
    <p>
      Sou desenvolvedor Full Stack, especializado em Java EE, Spring Boot e Angular, estou sempre em busca de novas oportunidades para expandir minhas habilidades.
      Atualmente, estou focado em aprofundar meu conhecimento em frameworks modernos para me tornar mais ágil e versátil no desenvolvimento de software.
      Meu objetivo é aprimorar minhas competências técnicas e contribuir de forma significativa em projetos futuros.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/Currículo%20Emannuel%20Morais.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/emannuel-morais-1b74231bb/"
             target="_blank"
             class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          ngSrc = "assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22"
          height="24"
        />

        <figcaption>
          <a href=""
             target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (85) x xxxx-xxxx</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          ngSrc = "assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22"
          height="24"
        />

        <figcaption>
          <a href="mailto:emanuelmorais2015@gmail.com"
             target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>emanuelmorais2015&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
